
.about-1{width: 100%; min-height: 100vh; background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/fondoAbout.jpeg); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;}
.about-1 .about1-content{width: 80%; min-height: 100vh; height: 100vh; margin: 0 auto; padding-left: 85px; display: flex; justify-content: center; align-items: center; flex-direction: column;}
.about-1 .about1-content .logo-content{width: 50%; height: 75%; position: relative;}
.about-1 .about1-content .logo-content > .blur{width: 100%; height: 100%; background-color: #0000009d; border-radius: 50%; position: absolute; top: 0; left: 0; filter: blur(50px); z-index: 1;}
.about-1 .about1-content .logo-content > div:nth-child(2){width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 99;}
.about-1 .about1-content .logo-content > div:nth-child(2) img{width: 100%;}
.about-1 .about1-content h1{font-size: 50px; color: #fff; text-shadow: 5px 10px 10px black; text-align: center;}
@media (max-width: 900px) {
    .about-1 .about1-content{width: 90%; margin: 0 auto;}
    .about-1 .about1-content .logo-content{width: 100%;}
}
@media (max-width: 600px) {
    .about-1 .about1-content{width: 100%; margin: 0 auto; padding-left: 65px;}
    .about-1 .about1-content .logo-content{width: 100%; height: 50%;}
    .about-1 .about1-content h1{font-size: 40px;}
}

.about{width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;}

.about-2{width: 60%; min-height: 50vh; display: flex; justify-content: center; align-items: center; flex-direction: column;}
.about-2 h2{font-size: 50px; color: #D4AF37; text-align: center; padding-top: 15px;}
.about-2 p{font-size: 20px; color: white; text-align: center;}

.about-3{width: 100%; min-height: 110vh; display: flex; justify-content: center; align-items: center; flex-direction: column;}
.about-3 .mision{width: 60%; margin: 0 auto; background-color: #070707; border-radius: 20px; padding: 5vh; box-shadow: 0 5px 15px #D4AF377d; display: flex; justify-content: center; align-items: center; flex-direction: column; transition: 0.5s;}
.about-3 .mision h2{font-size: 40px; color: #D4AF37; text-align: center;}
.about-3 .mision p{font-size: 20px; color: white; text-align: center; padding-top: 20px;}
.about-3 .vision{width: 60%; margin: 0 auto; margin-top: 10vh; background-color: #070707; border-radius: 20px; padding: 5vh; box-shadow: 0 5px 15px #D4AF377d; display: flex; justify-content: center; align-items: center; flex-direction: column;}
.about-3 .vision h2{font-size: 40px; color: #D4AF37; text-align: center;}
.about-3 .vision p{font-size: 20px; color: white; text-align: center; padding-top: 20px;}
.about-3 .mision:hover, .about-3 .vision:hover{transform: scale(1.1); transition: 0.5s; box-shadow: 0 10px 20px #D4AF377d;}

.about-4{width: 60%; min-height: 50vh; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.about-4 h2{font-size: 50px; color: #D4AF37; text-align: center; margin-bottom: 20px;}
.about-4 p{font-size: 20px; color: white; text-align: center; margin-bottom: 20px;}
.about-4 button{padding: 5px 40px;}

.about-5{width: 60%; min-height: 60vh; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.about-5 h2{font-size: 50px; color: #D4AF37; text-align: center; margin-bottom: 20px;}
.about-5 p{font-size: 20px; color: white; text-align: center; margin-bottom: 20px;}

.about .slider{width: 100%; min-height: 90vh; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.about .slider h3{font-size: 50px; color: #D4AF37; text-align: center; padding-top: 15px;}
.about .slider .swiper{width: 60%; height: 60vh; margin-top: 20px; border-radius: 15px;}
.about .slider .swiper .swiper-wrapper{width: 100%; height: 60vh;}
.about .slider .swiper .swiper-wrapper .img-1{background: black;}
.about .slider .swiper .swiper-wrapper .img-2{background: black;}
.about .slider .swiper .swiper-wrapper .img-3{background: black;}
.about .slider .swiper .swiper-wrapper .swiper-slide{background-size: cover; background-position: center center;}
.about .slider .swiper .swiper-wrapper .swiper-slide div:first-child{height: 100%; display: flex; justify-content: center; align-items: center; color: white; text-shadow: 1px 1px 5px rgba(0,0,0,0.5);}
.about .slider .swiper .swiper-wrapper .swiper-slide div:first-child h4{font-size: 30px; animation: fadeInUp 1s;}
.about .slider .swiper-button-next, .about .slider .swiper-button-prev{color: #D4AF37; text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);}
.about .slider .swiper-pagination-bullet{background-color: #D4AF37; width: 15px; height: 15px;}

@media (max-width: 900px) {
    .about-2{min-height: 30vh; padding: 50px 0; width: 80%;}
    .about-3{min-height: 60vh; padding: 50px 0;}
    .about-3 .mision, .about-3 .vision{width: 80%;}
    .about-4{min-height: 30vh; padding: 50px 0; width: 80%;}
    .about-5{min-height: 30vh; padding: 50px 0; width: 80%;}
    .about .slider .swiper{width: 80%;}
}
@media (max-width: 600px) {
    .about-2{min-height: 30vh; padding: 50px 0; width: 90%;}
    .about-3{min-height: 60vh; padding: 50px 0;}
    .about-3 .mision, .about-3 .vision{width: 90%;}
    .about-4{min-height: 30vh; padding: 50px 0; width: 90%;}
    .about-5{min-height: 30vh; padding: 50px 0; width: 90%;}
    .about .slider .swiper{width: 90%;}
    .about .slider .swiper-button-next, .about .slider .swiper-button-prev{display: none;}
}