.explore-page{width: 100%; display: flex;justify-content: center; align-items: center; flex-direction: column; padding-top: 120px;}

.explore-page .explore1{width: 80%; min-height: 50vh; margin: 0 auto; display: flex; justify-content: center; align-items: center; flex-direction: column;}
.explore-page .explore1 > h1{font-size: 70px; color: #D4AF37; text-align: center;}
.explore-page .explore1 > p:nth-child(2){font-size: 20px; letter-spacing: 2.2px; text-align: center; margin-bottom: 40px;}
.explore-page .explore1 .search{width: 100%; height: auto; padding: 20px 70px;}
.explore-page .explore1 .search form{position: relative; width: 100%; height: auto; background-color: #2A2A1A; border-radius: 50px; display: flex; justify-content: space-between; align-items: center;}
.explore-page .explore1 .search form input{width: 90%; background-color: #00000000; border: none; border-radius: 50px 0 0 50px; padding: 10px 30px; outline: none;}
.explore-page .explore1 .search form button{width: 10%; background-color: #00000000; display: flex; justify-content: center; align-items: center; padding: 3px 0; border: none; border-left: 1px solid gray; border-radius: 0 50px 50px 0; cursor: pointer;}
.explore-page .explore1 .search form button svg{color: white;}

.explore-page .explore2{width: 80%; min-height: 100vh; margin: 0 auto; display: flex; justify-content: center; align-items: center; flex-direction: column; margin-bottom: 50px;}
.explore-page .explore2 h2{font-size: 40px; color: #D4AF37;}
.explore-page .explore2 .explore-data{width: 100%; height: auto; padding: 20px 0; margin-bottom: 50px; display: grid; grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); grid-gap: 20px; justify-items: center; align-items: center;}
.explore-page .explore2 .explore-data .story{position: relative; width: 100%; height: 300px; background-color: #000000ad; border: 1px solid #D4AF379d; border-radius: 20px; padding: 10px; display: flex;}
.explore-page .explore2 .explore-data .story div:nth-child(1){width: 40%; height: 100%;}
.explore-page .explore2 .explore-data .story div:nth-child(1) img{width: 100%; height: 100%; border-radius: 10px;}
.explore-page .explore2 .explore-data .story .story-info{width: 60%; height: 100%; padding: 0 20px;}
.explore-page .explore2 .explore-data .story .story-info h2{font-size: 25px; color: #D4AF37;}
.explore-page .explore2 .explore-data .story .story-info p:nth-child(2){font-size: 15px; margin-bottom: 20px;}
.explore-page .explore2 .explore-data .story .story-info div:nth-child(3){height: 130px; overflow-y: auto; margin-bottom: 10px;}
.explore-page .explore2 .explore-data .story .story-info div:nth-child(3):hover{padding-right: 10px;}
.explore-page .explore2 .explore-data .story .story-info div:nth-child(3)::-webkit-scrollbar{display: none;}
.explore-page .explore2 .explore-data .story .story-info div:nth-child(3):hover::-webkit-scrollbar{width: 5px; background-color: #00000000; display: block;}
.explore-page .explore2 .explore-data .story .story-info div:nth-child(3):hover::-webkit-scrollbar-thumb{background-color: #ffffff3d; border: 1px solid #ffffff7d; border-radius: 10px;}
.explore-page .explore2 .explore-data .story .story-info div:nth-child(3) p{font-size: 17px; margin-bottom: 20px;}
.explore-page .explore2 .explore-data .story .story-info button{padding: 10px 70px; margin-bottom: 10px; font-size: 14px; color: white;}

.explore-page .explore3{width: 85%; min-height: 50vh; margin: 0 auto; display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 50px 0; border-top: 1px solid gray; border-bottom: 1px solid gray;}
.explore-page .explore3 > h2{font-size: 60px; color: #D4AF37; text-align: center;}
.explore-page .explore3 > p:nth-child(2){font-size: 20px; letter-spacing: 2.2px; text-align: center; margin-bottom: 30px;}
.explore-page .explore3 .authors-content{width: 100%; margin: 0 auto; display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 30px;}
.explore-page .explore3 .authors-content .author-box{display: flex; background-color: #000000cc; border-radius: 10px; border: 1px solid #D4AF37; position: relative; padding-right: 20px; transition: all .3s ease; overflow: hidden;}
.explore-page .explore3 .authors-content .author-box:hover{transform: scale(1.1); box-shadow: 0 0 5px 2px #000;}
.explore-page .explore3 .authors-content .author-box .author-image{width: 40%; height: 100%; padding: 30px 10px;}
.explore-page .explore3 .authors-content .author-box .author-image img{width: 100%; height: 100%; border-radius: 50%;}
.explore-page .explore3 .authors-content .author-box .author-info{width: 60%; padding: 20px 10px;}
.explore-page .explore3 .authors-content .author-box .author-info h3{font-size: 25px; color: #D4AF37;}
.explore-page .explore3 .authors-content .author-box .author-info > div:nth-child(3){width: 100%; display: flex; justify-content: space-between; padding-right: 40px; margin-bottom: 10px;}
.explore-page .explore3 .authors-content .author-box .author-info > div:nth-child(3) svg{width: 18px; height: 18px;}
.explore-page .explore3 .authors-content .author-box .author-info > div:nth-child(3) p{margin-left: 10px;}
.explore-page .explore3 .authors-content .author-box .author-info > p:nth-child(4){font-size: 15px; margin-bottom: 10px;}
.explore-page .explore3 .authors-content .author-box .author-info > button{padding: 5px 40px;}
.explore-page .explore3 .authors-content .author-box .author-info > button a{font-size: 15px;}
.explore-page .explore3 .authors-content .author-box .author-info > div:nth-child(1){position: absolute; top: -8px; right: -32px; width: 30%; height: 50px; border-radius: 0; background: linear-gradient(#795300, #D4AF37, #D4AF37); color: #fff; box-shadow: 0 5px 10px #D4AF374d; display: flex; justify-content: center; align-items: flex-end; transform: rotate(45deg);}

.explore-page .explore4{width: 80%; min-height: 120vh; margin: 0 auto; display: flex; justify-content: center; align-items: center; flex-direction: column; padding-top: 50px;}
.explore-page .explore4 > h2{font-size: 60px; color: #D4AF37;}
.explore-page .explore4 > p{font-size: 20px; letter-spacing: 2.2px; text-align: center;}
.explore-page .explore4 .categories{width: 100%; min-height: 110vh; margin: 0 auto; padding-bottom: 10vh; display: grid; grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); grid-gap: 0 50px; justify-items: center; align-items: center;}
.explore-page .explore4 .categories .categories-content{width: 100%; height: 65%; position: relative; margin-top: 50px;}
.explore-page .explore4 .categories .categories-content > div:nth-child(1){width: 100%; height: 100%; position: absolute; top: -40px; left: 0; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 999;}
.explore-page .explore4 .categories .categories-content > div:nth-child(1) h3{font-size: 80px; color: #D4AF37; text-align: center; margin-bottom: 10px; text-shadow: 0 10px 10px #000;}
.explore-page .explore4 .categories .categories-content > div:nth-child(1) p:nth-child(2){margin-bottom: 30px; text-shadow: 0 7px 4px #000; font-weight: 700;}
.explore-page .explore4 .categories .categories-content > div:nth-child(1) p:nth-child(3){margin-bottom: 10px; text-shadow: 0 7px 4px #000; font-weight: 600; text-align: center;}
.explore-page .explore4 .categories .categories-content > div:nth-child(1) button{background-color: #D4AF37; box-shadow: 0 5px 0 #795300;}
.explore-page .explore4 .categories .categories-content > div:nth-child(2){width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0;}
.explore-page .explore4 .categories .categories-content > div:nth-child(2) > .background-image{width: 100%; height: 100%; background: linear-gradient(0.25turn, #000000b2, #0000009d, #000000b2); position: absolute; top: 0; left: 0;}
.explore-page .explore4 .categories .categories-content > div:nth-child(2) > .image-content{width: 100%; height: 100%; display: flex; justify-content: space-between; align-items: center;}
.explore-page .explore4 .categories .categories-content > div:nth-child(2) > .image-content > div{width: 32%; height: 100%; border-radius: 10px;}
.explore-page .explore4 .categories .categories-content > div:nth-child(2) > .image-content > div img{width: 100%; height: 100%; border-radius: 10px;}

@media (max-width: 1280px) {
    .explore-page .explore2 .explore-data .story .story-info button{padding: 10px 60px;}
}

@media (max-width: 900px) {
    .explore-page .explore3{width: 90%;}

    .explore-page .explore4 .categories{min-height: 150vh;}
    .explore-page .explore4 .categories .categories-content{height: 75%;}
}

@media (max-width: 768px) {
    .explore-page .explore3{width: 95%;}
}

@media (max-width: 500px) {
    .explore-page .explore1{width: 90%;}
    .explore-page .explore1 > h1{font-size: 40px; margin-bottom: 10px;}
    .explore-page .explore1 > p:nth-child(2){font-size: 16px;}
    .explore-page .explore1 .search{padding: 20px 10px;}
    .explore-page .explore1 .search form input{width: 80%;}
    .explore-page .explore1 .search form button{width: 20%;}

    .explore-page .explore2{width: 95%;}
    .explore-page .explore2 .explore-data{ grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));}
    .explore-page .explore2 .explore-data .story{height: 200px;}
    .explore-page .explore2 .explore-data .story div:nth-child(1){width: 30%;}
    .explore-page .explore2 .explore-data .story .story-info{width: 70%; padding: 0; padding-left: 10px;}
    .explore-page .explore2 .explore-data .story .story-info h2{font-size: 17px;}
    .explore-page .explore2 .explore-data .story .story-info p:nth-child(2){font-size: 12px; margin-bottom: 5px;}
    .explore-page .explore2 .explore-data .story .story-info div:nth-child(3){height: 80px;}
    .explore-page .explore2 .explore-data .story .story-info div:nth-child(3) p{font-size: 14px;}
    .explore-page .explore2 .explore-data .story .story-info button{padding: 6px 30px; font-size: 10px;}

    .explore-page .explore3 > h2{font-size: 45px;}
    .explore-page .explore3 > p:nth-child(2){font-size: 18px; letter-spacing: 2px;}
    .explore-page .explore3 .authors-content .author-box:hover{transform: scale(0.9);}
    .explore-page .explore3 .authors-content .author-box .author-info > div:nth-child(1){ top: -10px; right: -32px;}

    .explore-page .explore4{width: 95%;}
    .explore-page .explore4 .categories{min-height: 170vh; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));}
}
