/* form-styles.css */

.create-storie{
  width: 100%;
  min-height: 170vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Estilos para el contenedor del formulario */
  .create-storie .form-container {
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #202020;
    border-radius: 10px;
    border: 1px solid #D4AF37;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .create-storie .form-container .form-image{
    width: 40%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 5px;
  }
  .create-storie .form-container .form-image > input{
    width: 100%;
    height: 100%;
  }

  .create-storie .form-container .form-info{
    width: 60%;
    height: 100%;
    padding: 0 20px;
  }
  
  /* Estilos para los inputs y textarea */
  .create-storie input[type="text"],
  .create-storie textarea {
    width: 100%;
    background-color: #202020;
    color: #fff;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #D4AF37;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Efecto hover y focus */
  .create-storie input[type="text"]:hover,
  .create-storie textarea:hover {
    border-color: #ffc400;
  }
  
  .create-storie input[type="text"]:focus,
  .create-storie textarea:focus {
    border-color: #ffd448;
    box-shadow: 0 0 10px #ffd3414d;
    outline: none;
  }
  
  /* Estilos para el textarea */
  .create-storie textarea {
    resize: vertical; /* Permitir redimensionar verticalmente */
    min-height: 120px;
  }
  
  /* Estilos para las categorías */
  .create-storie .form-container .form-info .categories-container {
    height: 44%;
  }
  
  .create-storie .form-container .form-info .categories-container h3 {
    margin-bottom: 8px;
    font-size: 18px;
  }
  
  .create-storie .form-container .form-info .categories-container select {
    width: 100%;
    height: 80%;
    background-color: #0000007d;
    border: 1px solid #D4AF37;
    border-radius: 4px;
    outline: none;
  }

  .create-storie .form-container .form-info .categories-container select::-webkit-scrollbar{
    width: 10px;
    background-color: #00000000;
  }
  .create-storie .form-container .form-info .categories-container select::-webkit-scrollbar-thumb{
    background-color: #ffffff3d;
    border: 1px solid #ffffff7d;
    border-radius: 10px;
  }
  
  .create-storie .form-container .form-info .categories-container option {
    color: #fff;
    font-size: 17px;
    padding: 5px 0;
    padding-left: 10px;
    border-radius: 4px;
  }
  .create-storie .form-container .form-info .categories-container option:hover{
    background-color: #ffffff2d;
  }


  .create-storie .form-content{
    max-width: 1000px;
    width: 900px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #202020;
    border-radius: 10px;
    border: 1px solid #D4AF37;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  /* Estilos para el botón */
  .create-storie .form-content > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .create-storie .form-content > div:nth-child(2) button {
    padding: 12px 24px;
    background-color: #D4AF37;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-storie .form-content > div:nth-child(2) button:hover {
    background-color: #927926;
  }