.payment-container {position: relative; max-width: 800px; margin: 50px auto; margin-top: 120px; padding: 20px; background: #151515; border-radius: 8px; border: 1px solid #D4AF37;}  
.payment-container h2 {font-size: 40px; color: #D4AF37; text-align: center; margin-bottom: 20px;}
.payment-container .payment-form { display: flex; flex-direction: column;}
.payment-container .payment-form label{width: 100%; padding: 0 10px;}
.payment-container .payment-form input, .payment-container .payment-form select { padding: 10px; margin-top: 5px; margin-bottom: 20px; background-color: #252525; color: #fff; border: none; outline: none; border-radius: 5px; width: 100%;}
.payment-container .payment-form input:hover, .payment-container .payment-form select:hover{border: 1px solid #D4AF37;}
.payment-container .payment-form .payment-usuario{padding-bottom: 10px; border-bottom: 1px solid gray;}
.payment-container .payment-form .payment-usuario div{display: flex; justify-content: space-between;}
.payment-container .payment-form .payment-subscription{padding-top: 30px; padding-bottom: 10px; border-bottom: 1px solid gray; display: flex; justify-content: space-between;}
.payment-container .payment-form .payment-method{padding-top: 30px; padding-bottom: 10px; border-bottom: 1px solid gray;}
.payment-container .payment-form .payment-method .method-group{width: 100%; display: flex; justify-content: space-around; padding-bottom: 10px;}
.payment-container .payment-form .payment-method .method-group .method-input{width: 100%;}
.payment-container .payment-form .payment-method .method-group .method-input > input{width: 50px;}
.payment-container .card-info { display: flex; justify-content: space-between;}
.payment-container .card-info div {width: 48%;}
.payment-container .pay-button {margin-top: 15px; background: #D4AF37; color: white; border: none; padding: 10px; border-radius: 5px; cursor: pointer;}
.pay-button:hover {background: #9b812e;}

@media (max-width: 820px){
    .payment-container {max-width: 750px;}
}

@media (max-width: 768px){
    .payment-container {max-width: 700px;}
}

@media (max-width: 500px){
    .payment-container {max-width: 400px; margin: 50px 10px; margin-top: 120px; padding: 10px;}
    .payment-container .payment-form .payment-usuario div{display: block;}
    .payment-container .payment-form .payment-subscription{display: block;}
    .payment-container .payment-form .payment-method .method-group .method-input > input{width: 20px;}
    .payment-container .payment-form .payment-method .method-group .method-input:nth-child(1){width: 65%;}
    .payment-container .payment-form .payment-method .method-group .method-input:nth-child(2){width: 35%;}
}