
.home-1{width: 100%; min-height: 100vh; display: flex; justify-content: center; align-items: center; background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/fondo.jpeg); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;}
.home-1 .home1-content{width: 60%; padding-left: 83px; display: flex; justify-content: center; align-items: center; flex-direction: column;}
.home-1 .home1-content h1{font-size: 70px; max-width: 90%; color: #fff; text-align: center;}
.home-1 .home1-content p{font-size: 20px; max-width: 90%; color: #fff; margin-top: 30px; text-align: center;}
.home-1 .home1-content button{padding: 0.5em 3em; margin: 0 20%; margin-top: 50px; font-size: 18px; text-transform: uppercase; letter-spacing: 2.5px; font-weight: 500; background-color: rgba(255, 255, 255, 0.2); border: none; border-radius: 45px; box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); transition: all 0.3s ease 0s; cursor: pointer; outline: none;}
.home-1 .home1-content button a{text-decoration: none; color: #fff;}
.home-1 .home1-content button:hover{background-color: #D4AF37; box-shadow: 0 15px 20px rgba(212, 175, 55, 0.4); transform: translateY(-7px);}
.home-1 .home1-content button:active{transform: translateY(-1px);}
@media (max-width: 768px) {
    .home-1 .home1-content{width: 90%;}
    .home-1 .home1-content h1 {font-size: 8vw;}
    .home-1 .home1-content p {font-size: 3.5vw;}
    .home-1 .home1-content button {font-size: 3vw;padding: 10px 15vw;}
    .home-1 .home1-content button a {font-size: 3vw;}
  }
@media (max-width: 500px) {
    .home-1 .home1-content{width: 100%; padding: 0;}
    .home-1 .home1-content h1 {font-size: 15vw;}
    .home-1 .home1-content p {font-size: 5.5vw;}
    .home-1 .home1-content button {font-size: 5vw;padding: 10px 10vw;}
    .home-1 .home1-content button a {font-size: 5vw;}
}

.home .home-2 .slider{width: 100%; min-height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column; overflow: hidden;}
.home .home-2 .slider h3{font-size: 80px; color: #D4AF37; text-align: center; margin-bottom: 20px;}
.home .home-2 .slider .swiper{width: 60%; height: 60vh; margin-top: 20px; overflow: visible;}
.home .home-2 .slider .swiper .swiper-wrapper{width: 100%; height: 100%;}
.home .home-2 .slider .swiper .swiper-wrapper .img-1{background-image: linear-gradient(#0000005d, #0000009d), url(https://i.pinimg.com/736x/a7/04/4f/a7044fab6c39ea5963f72b52dbd3850f.jpg);}
.home .home-2 .slider .swiper .swiper-wrapper .img-2{background-image: linear-gradient(#0000005d, #0000009d), url(https://i.pinimg.com/736x/61/de/1f/61de1f7d549e13c4298ec3394ffee074.jpg);}
.home .home-2 .slider .swiper .swiper-wrapper .img-3{background-image: linear-gradient(#0000005d, #0000009d), url(https://i.pinimg.com/736x/cc/8a/31/cc8a3132da4aee02ae1dee17b6c9336f.jpg);}
.home .home-2 .slider .swiper .swiper-wrapper .img-4{background-image: linear-gradient(#0000005d, #0000009d), url(https://i.pinimg.com/736x/97/93/d4/9793d430616a8d622fae68773029f486.jpg);}
.home .home-2 .slider .swiper .swiper-wrapper .img-5{background-image: linear-gradient(#0000005d, #0000009d), url(https://i.pinimg.com/736x/8d/25/52/8d2552fae92d6c49b59d24133ecd9951.jpg);}
.home .home-2 .slider .swiper .swiper-wrapper .swiper-slide{background-size: cover; background-position: center center;}
.home .home-2 .slider .swiper .swiper-wrapper .swiper-slide div:first-child{height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; color: white; text-shadow: 1px 1px 5px rgba(0,0,0,0.5);}
.home .home-2 .slider .swiper .swiper-wrapper .swiper-slide div:first-child h4{font-size: 30px; animation: fadeInUp 1s; margin-bottom: 20px;}
.home .home-2 .slider .swiper-button-next, .container .swiper-button-prev{color: #D4AF37; text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);}
.home .home-2 .slider .swiper-pagination-bullet{background-color: #D4AF37; width: 15px; height: 15px;}
@media (max-width: 500px){
    .home .home-2 .slider h3{font-size: 50px;}
    .home .home-2 .slider .swiper{width: 80%; height: 50vh;}
    .home .home-2 .slider .swiper-button-next, .container .swiper-button-prev{display: none;}
}

.home .home-3{width: 100%; min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.home .home-3 h3{font-size: 70px; color: #D4AF37; text-align: center; padding-top: 30px; margin-bottom: 30px;}
.home .home-3 .home3-content{width: 80%; display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); grid-gap: 30px;}
.home .home-3 .home3-content > div{background-color: #000000d0; border-radius: 10px; border: 1px solid #D4AF37; display: flex; flex-direction: column; align-items: center; position: relative;}
.home .home-3 .home3-content > div .image{width: 100%; padding: 10px;}
.home .home-3 .home3-content > div .image img{width: 100%; height: 100%; border-radius: 10px;}
.home .home-3 .home3-content > div span{text-align: center; font-size: 40px; color: #D4AF37; padding: 0 10px; padding-bottom: 10px;}
.home .home-3 .home3-content > div p{text-align: center; font-size: 20px; color: #fff; padding: 0 20px; padding-bottom: 20px;}
.home .home-3 button{padding: 0.5em 3em; margin-top: 50px; font-size: 18px; text-transform: uppercase; letter-spacing: 2.5px; font-weight: 500; background-color: #D4AF37; border: none; border-radius: 45px; box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); transition: all 0.3s ease 0s; cursor: pointer; outline: none;}
.home .home-3 button a{text-decoration: none; color: #fff;}
.home .home-3 button:hover{background-color: #D4AF37; box-shadow: 0 15px 20px rgba(212, 175, 55, 0.4); transform: translateY(-7px);}
.home .home-3 button:active{transform: translateY(-1px);}
@media (max-width: 500px){
    .home .home-3{margin-bottom: 50px;}
    .home .home-3 h3{font-size: 50px;}
    .home .home-3 .home3-content > div span{font-size: 30px;}
    .home .home-3 .home3-content > div p{font-size: 16px;}
}

.home .home-4{width: 100%; min-height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column;}
.home .home-4 h3{font-size: 50px; color: #D4AF37; text-align: center; padding-top: 30px;}
.home .home-4 .swiper-home4{width: 85%; height: 32rem; padding: 2rem 0; position: relative;}
.home .home-4 .swiper-home4 .swiper-slide{width: 17rem; height: 22rem; position: relative;}
.home .home-4 .swiper-home4 .swiper-slide .category-img{width: 100%; height: 100%; border-radius: 2rem; object-fit: cover;}
.home .home-4 .swiper-home4 .swiper-slide .category-img img{width: 100%; height: 100%; border-radius: 2rem;}
.home .home-4 .swiper-home4 .swiper-slide .category-info{position: absolute; bottom: 0; left: 0; width: 100%; height: 40%; background-color: #0000007d; border-radius: 0 0 2rem 2rem; display: flex; justify-content: center; align-items: center; flex-direction: column; opacity: 0; transition: all 0.3s ease 0s;}
.home .home-4 .swiper-home4 .swiper-slide .category-info h2{font-size: 30px; margin-bottom: 10px;}
.home .home-4 .swiper-home4 .swiper-slide .category-info button{padding: 5px 40px;}
.home .home-4 .swiper-home4 .swiper-slide:hover .category-info{opacity: 1; transition: all 0.3s ease 0s;}
.home .home-4 .swiper-home4 .slider-controller{position: relative; bottom: 2rem; display: flex; align-items: center; justify-content: center;}
.home .home-4 .swiper-home4 .slider-controller .swiper-button-next{left: 58% !important; transform: translateX(-58%) !important;}
.home .home-4 .swiper-home4 .slider-controller .slider-arrow{background-color: #D4AF37; width: 2.5rem; height: 2.5rem; border-radius: 50%; left: 42%; top: -10px; transform: translateX(-42%); filter: drop-shadow(0 8px 24px rgba(18, 28, 53, 0.1));}
.home .home-4 .swiper-home4 .slider-controller .slider-arrow svg{color: white; width: 1.5rem; height: 1.5rem;}
.home .home-4 .swiper-home4 .slider-controller .slider-arrow::after{content: "";}
.home .home-4 .swiper-home4 .swiper-pagination{position: relative; width: 15rem !important; bottom: 1rem;}
.home .home-4 .swiper-home4 .swiper-pagination .swiper-pagination-bullet{filter: drop-shadow(0 8px 24px rgba(18, 28, 53, 0.1));}
.home .home-4 .swiper-home4 .swiper-pagination .swiper-pagination-bullet-active{background-color: #D4AF37;}
@media (max-width: 500px){
    .home .home-4 h3{font-size: 35px; padding: 0 10px;}
    .home .home-4 .swiper-home4{height: 28rem;}
    .home .home-4 .swiper-home4 .swiper-slide{width: 12rem !important; height: 20rem !important;}
    .home .home-4 .swiper-home4 .swiper-slide img{width: 100% !important; height: 100% !important;}
    .home .home-4 .swiper-home4 .slider-controller .slider-arrow{display: none;}
}
@media (max-width: 990px){
    .home .home-4 .swiper-home4 .slider-controller .swiper-button-next{left: 70% !important; transform: translateX(-70%) !important;}
    .home .home-4 .swiper-home4 .slider-controller .swiper-button-prev{left: 30% !important; transform: translateX(-30%) !important;}
}
@media (max-width: 450px){
    .home .home-4 .swiper-home4 .slider-controller .swiper-button-next{left: 80% !important; transform: translateX(-80%) !important; margin-top: 30px;}
    .home .home-4 .swiper-home4 .slider-controller .swiper-button-prev{left: 20% !important; transform: translateX(-20%) !important; margin-top: 30px;}
}


.home .home-5{display: flex; flex-direction: column; justify-content: center; align-items: center; row-gap: 20px; min-height: 100vh; overflow: hidden;}
.home .home-5 h3{font-size: 50px; color: #D4AF37; text-align: center; padding-top: 30px;}
.home .home-5 img{width: 100%; pointer-events: none; user-select: none;}
.home .home-5 .home5-content{display: flex; flex-direction: column; justify-content: center; align-items: center; width: 80%; overflow: hidden;}
.home .home-5 .home5-content .swiper{width: 100%; height: 100%;}
.home .home-5 .home5-content .swiper .swiper-slide{max-width: 300px; height: 350px; border-radius: 15px; margin: 20px 0 40px; overflow: hidden; box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5), inset 0 2px 2px rgba(255, 255, 255, 0.2); cursor: grab;}
.home .home-5 .home5-content .swiper .swiper-slide .content{position: relative; display: grid; grid-auto-flow: dense; grid-template-rows: 2fr 1fr 3fr 1fr; gap: 10px; height: 100%; padding: 16px; background: rgba(104, 104, 104, 0.5); color: #fff; user-select: none;}
.home .home-5 .home5-content .swiper .swiper-slide .content::before, .body .body-5 .body5-content .swiper .swiper-slide .content::after{content: ""; position: absolute; inset: 0; z-index: -1; border-radius: inherit; background: linear-gradient(180deg, #795300, #b28405, #efb810, #f9db5c);}
.home .home-5 .home5-content .swiper .swiper-slide .content img{aspect-ratio: 3/2; border-radius: 10px; object-fit: cover; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);}
.home .home-5 .home5-content .swiper .swiper-slide .content h2{font-size: 1.2rem; text-align: center; margin-top: 10px;}
.home .home-5 .home5-content .swiper .swiper-slide .content p{font-size: 1rem; font-weight: 400;}
.home .home-5 .home5-content .swiper .swiper-slide .content button{display: flex; justify-content: center; align-items: center; background-color: #b28405; color: #000; font-weight: 400; outline: 0; border: 0; border-radius: 5px; margin-bottom: 5px; box-shadow: 0 0 5px rgba(212, 175, 55, 0.4); cursor: pointer; transition: all 0.3s ease;}
.home .home-5 .home5-content .swiper .swiper-slide .content button a{font-size: 1rem; padding: 10px 16px; color: #fff; text-decoration: none;}
.home .home-5 .home5-content .swiper .swiper-slide .content button:is(:hover, :focus-visible) {transform: scale(0.97);}
.home .home-5 .home5-content .control{display: flex; flex-direction: row; justify-content: center; align-items: center; list-style: none; gap: 14px;}
.home .home-5 .home5-content .control li{position: relative; display: flex; justify-content: center; align-items: center; background: linear-gradient(to bottom, #b28405, #efb810); box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), inset 0 4px 4px rgba(255, 255, 255, 0.2); padding: 16px; border-radius: 50%; cursor: pointer; transform: scale(1);}
.home .home-5 .home5-content .control li:before{position: absolute; content: ""; top: 0; right: 0; bottom: 0; left: 0; background: linear-gradient(to right, #b28405, #efb810); border-radius: 50%; z-index: -1; transition: all 0.5s ease-in; opacity: 0;}
.home .home-5 .home5-content .control li:hover::before{opacity: 1;}
.home .home-5 .home5-content .control .arrow{font-size: 1.5rem; color: #fff;}
@media (max-width: 500px){
    .home .home-5{margin-bottom: 50px; min-height: 70vh;}
    .home .home-5 h3{font-size: 35px; padding: 0 10px;}
    .home .home-5 .home5-content{width: 92%;}
    .home .home-5 .home5-content .swiper .swiper-slide{max-width: 160px; height: 250px;}
    .home .home-5 .home5-content .swiper .swiper-slide .content{padding: 10px;}
    .home .home-5 .home5-content .swiper .swiper-slide .content h2{margin-top: 0px; font-size: 1rem;}
    .home .home-5 .home5-content .swiper .swiper-slide .content p{font-size: 0.8rem;}
    .home .home-5 .home5-content .swiper .swiper-slide .content button a{font-size: 0.8rem; padding: 7px 16px;}
}
