@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Sofia Sans Condensed', sans-serif; font-optical-sizing: auto; font-size: 18px;}
body{background-color: black; color: white;}

.title{font-family: "Mouse Memoirs", serif; font-weight: 400; letter-spacing: 2px;}
.bg{background: radial-gradient(#38321e, #191405, #000000, #000000);}