@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  body {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .text-shadow-gold {
    text-shadow: 0 0 10px rgba(251, 191, 36, 0.3);
  }
  
  .bg-dark-gradient {
    background: linear-gradient(to bottom, #111111, #1a1a1a, #0a0a0a);
  }
} */

*{margin: 0; padding: 0; box-sizing: border-box; text-decoration: none;}
body{background-color: black; color: white;}